@import url("reset.css");

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color: #000000;
    font-family: 'Times New Roman', Times, serif;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.quote-container {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    opacity: 65%;
    border: .5rem solid rgba(1, 0, 0, 0.532);
    width: 90dvw;
    height: 90dvh;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: flex-end;
}


.quote-text {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000000; 
    margin: 1rem;   
    justify-content: right;
}
p {
    font-size: 1.5rem;  
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: .6rem;
    border-radius: 2rem;
    background-color:rgba(59, 98, 62, 0.449);
    color: #000000;
    text-align: right;
    margin: 1rem;
}
    ;    
